
<div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{ product.imagePath }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <div class="price">${{ product.price }}</div>
      <a href="/add-to-cart/{{ product._id }}" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
